version: "3.9"

services:
  app:
    build: .
    # image: vk42/laravel-react-app:1.0.10
    container_name: laravel_react_app
    ports:
      - "8000:80"
    env_file:
      - .env
    depends_on:
      mysql:
        condition: service_healthy
      redis:
        condition: service_started
    networks:
      - laravel-network
    volumes:
      - ./storage:/var/www/storage
      - ./database:/var/www/database

  # queue:
  #   build: .
  #   command: php artisan queue:work
  #   depends_on:
  #     - redis
  #     - mysql

  # scheduler:
  #   build: .
  #   command: php artisan schedule:work
  #   depends_on:
  #     - mysql
  
  redis:
    image: redis:alpine
    container_name: laravel_redis
    ports:
      - "6379:6379"
    networks:
      - laravel-network
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
  
  mysql:
    image: mysql:8.0
    container_name: laravel_mysql
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: laravel
      MYSQL_USER: laravel
      MYSQL_PASSWORD: laravel
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - laravel-network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-proot"]
      interval: 10s
      timeout: 5s
      retries: 5

networks:
  laravel-network:
    driver: bridge

volumes:
  mysql_data: