name: Laravel React CI/CD

on:
  push:
    branches:
      - main
      - develop

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Read app VERSION
        id: VERSION
        run: echo "VERSION=$(cat VERSION)" >> $GITHUB_ENV

      - name: Build Docker image (versioned)
        run: |
          docker build \
            -t ${{ secrets.DOCKER_USERNAME }}/laravel-react-app:${{ env.VERSION }} \
            -t ${{ secrets.DOCKER_USERNAME }}/laravel-react-app:latest \
            .

      - name: Push Docker image (versioned)
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/laravel-react-app:${{ env.VERSION }}
          docker push ${{ secrets.DOCKER_USERNAME }}/laravel-react-app:latest